<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fab fa-2x fa-instagram"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Enter Username" aria-label="Search">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                          </form>
                      </li>
                </ul>
                <ul class="navbar-nav ml-auto mr-0">
                    {% if user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ml-auto mr-0"><img class="user" src="/image/img.png" alt=""></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{logout}}">Logout</a> 
                          </div>
                    </li>
                    {% else %}
                    <a href="{{login}}" class="btn btn-outline-info">Login</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if user == True %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-2">
                <span class="ml-auto mr-0"><img src="/image/img.png" alt="" style="height: 8rem;width: 8rem;border-radius: 50%;"></span>
            </div>
            <div class="col-6">
                <div class="container">
                     <div class="row">
                            Username:{{current_user.username}}<br>
                            Email:{{current_user.email}}
                     </div>
                </div>
            </div>
            <div class="col-1">
                Followers<br>
                {{current_user.followers | length}}
            </div>
            <div class="col-1">
                Following<br>
                {{current_user.following | length}}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-top: 2rem;" data-target="#exampleModal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <hr class="my-4">
    </div>
    {% else %}
    <div class="container" style="min-height:35rem;"> 
        <div class="row">
            <div class="col-sm-6 col-12 center-items" style="border-right: 1px solid #f3f3f3;">
                <h3>Welcome to the Application</h3>
            </div>
            <div class="col-sm-6 center-items">
                <a class = "btn btn-outline-primary" style="width: 100px;" href="{{login}}">Login</a>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="container">
        
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #e8eaed ;">
              <h5 class="modal-title">Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="{{post_image}}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <label for="image">Select Image</label>
                            <input class="form-control" type="file" name="image"><br>
                        </div>
                        <div class="row">
                            <label for="caption">Example textarea</label>
                            <textarea class="form-control" id="caption" name="caption" rows="3"></textarea>
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="submit" name="submit" value="Submit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
      </div>

    <script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/all.js"></script>
</body>
</html>