<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fab fa-2x fa-instagram"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
                            <input class="form-control mr-sm-2" type="search" name="search_string" placeholder="Enter Username" aria-label="Search">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" name="button" value="search"><i class="fas fa-search"></i></button>
                        </form>
                      </li>
                </ul>
                <ul class="navbar-nav ml-auto mr-0">
                    {% if user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if current_user.profileImage == None %}
                            <div class="center-cropped" style="background-image: url(/image/img.png);width: 2rem;height: 2rem;border-radius: 50%;margin: 0;">
                                
                            </div>
                            {% else %}
                            <div class="center-cropped" style="background-image: url(/view_photo/{{current_user.profileImage}});width: 2rem;height: 2rem;border-radius: 50%;margin: 0;">
                                
                            </div>
                            {% endif %}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile?key={{current_user.key.urlsafe()}}">Profile</a>
                            <a class="dropdown-item" href="{{logout}}">Logout</a> 
                          </div>
                    </li>
                    {% else %}
                    <a href="{{login}}" class="btn btn-outline-info">Login</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container search_page">
        <div class="row"> 
            <h4>Search Results for <b>"{{query}}"</b></h4>
        </div>
        <hr>
        {% for user in search_results %}
            <div class="row box">
                <a class="card user_search_results" href="/profile?key={{user.get().key.urlsafe()}}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3" style="padding-top: 0.5rem;">
                                {% if user.get().profileImage == None %}
                                <div class="center-cropped" style="background-image: url(/image/img.png);width: 5rem;height: 5rem;border-radius: 50%;">
                        
                                </div>
                                {% else %}
                                <div class="center-cropped" style="background-image: url(/view_photo/{{user.get().profileImage}});width: 5rem;height: 5rem;border-radius: 50%;">
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-6" style="padding-top: 1.5rem;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                           <h5 style="font-weight: 500;margin-bottom: 0;">{{user.get().username}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                       <div class="col">
                                          <p class="text-muted">{{user.get().email}}</p>
                                       </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-3" style="padding-top: 2rem;">
                                <div class="container" style="text-align: center;">
                                    <div class="row">
                                        <p>{{user.get().followers | length}}<br>followers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>   
            </div>
        {% endfor %}
    </div>

    
    <script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/all.js"></script>
</body>
</html>